

      <div class="jumbotron">
        <h1>Get me a Lawyer</h1>
        <p class="lead">Use the form given below to find a suitable lawyer for your purpose.</p>
        <%= form_tag("/", method: "get", role: "form") do %>
      
		    <label for="lawyer_location_city" style="font-size:23px;">Cities</label><br>
		    	<%= select("lawyer", "location_city", 
		       Lawyer.order("location_city").find(:all,  :select => 'DISTINCT lawyers.location_city').collect {|l| [ l.location_city, l.location_city ] },{:selected => @location_city},{:class => "selectpicker", :multiple => ""}) %>
			<br>
			<br>
		  <label for="service_code" style="font-size:23px;">Service</label><br>
		  <%= select("service", "code", 
		       Service.find(:all,  :select => 'DISTINCT services.name, services.code').collect {|s| [ s.name, s.code ] },{:selected => @service_code},{:class => "selectpicker"}) %>
		       <br>
		  <button class="btn btn-primary">Find them!!!</button>
		<% end %>
      </div>
      <div class="alert alert-danger<%= @query == true && @lawyers.length <= 0  ? " " : " hide" %>">
      	<strong>Oh snapp!!!</strong> no lawyer matched required query
      </div>

      <div class="row marketing<%= @lawyers.length > 0 ? "" : " hide" %>">
	      <table class="table table-hover">
	      <thead>
	        <tr>
	          <th>#</th>
	          <th>Name</th>
	          <th>Experience (years)</th>
	          <th>Location (city)</th>
	          <th>Ratings (Avg.)</th>
	          <th>Service</th>
	          <th>Charges(Rs.)</th>
	        </tr>
	      </thead>
	      <tbody>
	      	<% i = 0 %>
	        <% @lawyers.each do |lawyer| %>
		      <tr>
		        <td><%= i += 1 %></td>
		        <td><%= lawyer.name %></td>
		        <td><%= lawyer.exp_year %></td>
		        <td><%= lawyer.location_city %></td>
		        <td><%= lawyer.rating_avg %></td>
		        <td><%= @service.name %></td>
		        <td><%= @service.charges %></td>
		      </tr>
		    <% end %>
	      </tbody>
	    </table>
      </div>